
    <div class="row">
        <div class="large-3 columns">
            <h1><img src="https://placehold.it/400x100&text=Logo" /></h1>
        </div>
        <div class="large-9 columns">
            <ul class="right button-group">
                <li><a href="#" class="button">Home</a></li>
                <li><a href="index.html#meetings" class="button">Meetings</a></li>
                <li><a href="index.html#calendar" class="button">Calendar</a></li>
                <li><a href="contactus.html" class="button">Contact Us</a></li>
            </ul>
        </div>
    </div>








    <form>

        <h1 id="contactUsPage">Contact us</h1>


        <div class="row">
            <div class="small-12 medium-6 columns">
                <label>Name
                    <input type="text" placeholder="What should we call you?">
                </label>
            </div>
            <div class="small-12 medium-6 columns">
                <label>E-Mail
                    <input type="text" placeholder="Where can we reply back to?">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <label>Questions? Comments? Concerns?
                    <input type="text" placeholder="Talk to us! We would love to hear from you! ">
                </label>
            </div>

        </div>
    </form>



<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; Copyright</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>