<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet'
        type='text/css'>

    <link rel="stylesheet" href="../public/styles/styles.css" media="screen" title="no title" charset="utf-8">

</head>

<body>


    <div class="grid-container">
            <!-- grid test for new cdn -->
        <div class="grid-x">
            <div class="medium-6 cell">
                <h3>grid text 1</h3>
            </div>
            <div class="medium-6 cell">
                <h3>grid text 2</h3>
            </div>
        </div>





        <form id="bom-form">

            <h3>Submit your choice for book of the month!
            </h3>

            <div class="grid-x">

                <div class="medium-6 cell">
                    <label>Title
                        <input id="bom-title" type="text">
                    </label>
                </div>

                <div class="medium-6 cell">
                    <label>Author
                        <input id="bom-author" type="text">
                    </label>
                </div>
            </div>

            <!-- script for character count  -->
            <script>
                function countChar(val) {
                    var len = val.value.length;
                    if (len >= 500) {
                        val.value = val.value.substring(0, 500);
                    } else {
                        $('#charNum').text(500 - len + " characters remaining");
                    }
                };
            </script>


            <label id="summary-label">
                Why does this book deserve book of the month?
                <textarea onkeyup="countChar(this)" id="bom-summary" placeholder="500 characters maximum"></textarea>
            </label>
            <!-- div where the character count is dynamically created and updated  -->
            <div id="charNum">
            </div>

            <button type="button" class="success button submit-btn">Submit</button>


        </form>






        <div class="grid-x">
            <div class="cell cal-title">
                <h3>Check out upcoming meetings and events!</h3>
                <h6>click <a href="https://calendar.google.com/calendar/r?cid=eos6vaflufesot5vmuhilucqcg@group.calendar.google.com&cid=en.usa%23holiday@group.v.calendar.google.com"><img id="add-logo" src="https://i.imgur.com/hniv8M1.png"></a>to add an event of your own with your google acct</h6>
            </div>
            <div class="cell">
                <iframe id="calender"
                    src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZW9zNnZhZmx1ZmVzb3Q1dm11aGlsdWNxY2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23AD1457&amp;color=%230B8043"
                    style="border-width:0" width="700" height="500" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>





    <!-- scripts s -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/js/index.js"></script>


</body>

</html>